<ul class="menu-item">
  <li><a href="/edit_user_form?id=<%= @user[:id] %>">Edit User</a></li>
  <li><a href="/delete_user?id=<%= @user[:id] %>">Delete User</a></li>

  <li><a href="/profile?id=<%= @user[:id] %>">Profile</a></li>
  <li><a href="/blog?id=<%= @user[:id] %>">Blog</a></li>
  <li><a href="/signup?id=<%= @user[:id] %>">Sign Out</a></li>
</ul>


<% @questions.each_with_index do |q, index| %>
  <div id="asker"> <%= @users_array[index][:username] %> </div>
  <p style="background-color: white; width: 700px; margin-left: 400px; margin-top: 50px"> <%= q.question %> </p>
<% end %>

<div id="answer">
  <form method="post" action="/blog">
    <input type="text" name="answer" value="" placeholder="I am going to tell you what is wrong with your car?" style="width: 700px; height=700px">
    <input type="submit" value="Answer" style="width: 100px">
  </form>
</div>

<!-- ========= need a loop for the answers which means you need a migrate file also
rake db:create_migration NAME=create_answers_table -->
<!-- # <% @answers.each do |a| %>
# <p> <%= a.answer %> </p>
# <% end %> -->
