
<!-- <h1 id="welcome"> Welcome </h1> -->


<ul class="menu-item">
  <li><a href="/edit_user_form?id=<%= @user[:id] %>">Edit User</a></li>
  <li><a href="/delete_user?id=<%= @user[:id] %>">Delete User</a></li>

  <li><a href="/profile?id=<%= @user[:id] %>">Profile</a></li>
  <li><a href="/blog?id=<%= @user[:id] %>">Blog</a></li>
  <li><a href="/signup?id=<%= @user[:id] %>">Sign Out</a></li>
</ul>


<div id="name"> <%= @user[:username] %> </div>
<div class="userinfo"> <%= @user[:password] %> </div>
<div class="userinfo"> <%= @user[:firstname] %> </div>
<div class="userinfo"> <%= @user[:lastname] %> </div>
<div class="userinfo"> <%= @user[:email] %> </div>
<div class="userinfo"> <%= @user[:usertype] %> </div>

<div id="question">
  <form method="post" action="/blog">
    <input type="text" name="question" value="" placeholder="What's wrong with your car?" style="width: 700px; height: 70px">
    <input type="submit" value="Ask" style="width: 100px">
  </form>
</div>
