
<h1> Profile </h1>


<div class="menu-item"><a href="/edit_user_form?id=<%= @user[:id] %>">Edit User</a></div>
<div class="menu-item"><a href="/delete_user?id=<%= @user[:id] %>">Delete User</a></div>


<p> <%= @user[:username] %> </p>
<p> <%= @user[:password] %> </p>
<p> <%= @user[:firstname] %> </p>
<p> <%= @user[:lastname] %> </p>
<p> <%= @user[:email] %> </p>
<p> <%= @user[:usertype] %> </p>
