
<!-- <h1 id="welcome"> Welcome </h1> -->




<div id="name"> <%= @user[:username] %> </div>
<div class="userinfo"> <%= @user[:password] %> </div>
<div class="userinfo"> <%= @user[:firstname] %> </div>
<div class="userinfo"> <%= @user[:lastname] %> </div>
<div class="userinfo"> <%= @user[:email] %> </div>
<div class="userinfo"> <%= @user[:usertype] %> </div>

<div id="question">
  <form method="post" action="/blog">
    <input type="text" name="question" value="" placeholder="What's wrong with your car?" style="width: 700px; height: 70px">
    <input type="submit" value="Ask" style="width: 100px">
  </form>
</div>
